@include exports("@path:base\_rules.scss"){/*@path:base\_rules.scss*/
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic');

  a{
    color:getc(ref);
    &:hover{
      text-decoration:none;
    }
    &:focus{
      outline:none;
    }
  }

  .caller{
    text-decoration:none;
    border-bottom:1px dotted currentColor;
    display:inline-block;
    cursor:pointer;
    &:hover,&.active{
      border-bottom-color:transparent;
    }
  }

  a.active,span.active{
    cursor:default;
    text-decoration:none;
    border-bottom-color:transparent;
  }

  .clr{
    clear:both;
  }

  p{
    margin:0;
  }

  ul{
    list-style:none;
    margin:20px 0 0 13px;
    padding:0;
    line-height:18px;
    li:before{
      content:'\2022';
      position:absolute;
      margin:0 0 0 -9px;
    }
  }

  .w{
    width:$w;
    margin:0 auto;
  }

  .logged{
    display:none;
    .user-logged &{
      display:block;
    }
  }
  .unlogged{
    .user-logged &{
      display:none;
    }
  }

  input,textarea,select{

  }

  .safe-hide-svg{
    @include abs($l:0,$t:-100px);
    width:1px;
    height:1px;
    overflow:hidden;
  }

  //----------------------------

  html{
    height:100%;
  }

  //@include modal('#wrap-wrap');

  body{
    height:100%;
    font:14px/18px font();
    @include flx(display,flex);//for ie's footer bottom pos
    @include flx(flex-flow,'column nowrap');
  }

  #wrap{
    min-height:100%;
    position:relative;
    min-width:$w + 20px;
    width:100%;
    @include flx(display,flex);
    @include flx(flex-flow,'column nowrap');
    @include flx(flex,'1 0 auto');
  }

  #main{
    @include flx(flex,'1 0 auto');
    width:100%;//sometimes is needed
  }

  //--------------------


}