@include exports("@path:base\_rules.scss"){/*@path:base\_rules.scss*/
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic');

  a{
    color:getc(ref);
    &:hover{
      text-decoration:none;
    }
    &:focus{
      outline:none;
    }
  }

  .caller{
    text-decoration:none;
    border-bottom:1px dotted currentColor;
    display:inline-block;
    cursor:pointer;
    &:hover,&.active{
      border-bottom-color:transparent;
    }
  }

  a.active,span.active{
    cursor:default;
    text-decoration:none;
    border-bottom-color:transparent;
  }

  .clr{
    clear:both;
  }

  p{
    margin:22px 0 0 0;
    &.special{
      font-style:italic;
      background:#f8f8f8;
      margin-top:30px;
      border-radius:3px;
      padding:32px 54px;
      font-size:15px;
      line-height:24px;
      color:getc(font);
    }
    &:first-child{
      margin-top:0;
    }
  }

  table{
    border-collapse:collapse;
    margin-top:18px;
    border-spacing:4px;
    tr{
      &:nth-child(2n+1) td{
        background:getc(t-bg);
      }
    }
    th,td{
      padding:10px;
      text-align:left;
    }
    th{
      background:getc(h);
      color:#fff;
    }
    td{
      background:#fff;
    }
  }

  ul,ol{
    list-style:none;
    margin:18px 0 0 40px;
    padding:0;
    li{
      margin-top:10px;
      &:before{
        content:'';
        color:getc(el);
        position:absolute;
      }
    }
  }

  ol{
    counter-reset:ctr;
    li{
      counter-increment:ctr;
      &:before{
        content:counter(ctr);
        font-weight:700;
        margin-left:-20px;
      }
    }
  }

  ul{
    li{
      &:before{
        width:4px;
        height:4px;
        border-radius:3px;
        background:#000;
        margin-top:9px;
        margin-left:-16px;
      }
    }
  }

  .w{
    min-width:$miw;
    max-width:$maw;
    padding:0 $pd;
    margin:0 auto;
    @extend %bxz;
  }

  h1{

  }

  h2{

  }

  h3{

  }

  input[type=text],input[type=number],textarea,select{
    background:#fff;
    border-radius:3px;
    border:1px solid getc(bd);
    padding-left:10px;
    height:36px;
    @extend %bxz;
    &.error{
      border:1px solid #f00;
    }
  }

  .safe-hide-svg{
    @include abs($l:0,$t:-100px);
    width:1px;
    height:1px;
    overflow:hidden;
  }

  //----------------------------

  html{
    height:100%;
  }

  //@include modal('#wrap-wrap');

  body{
    height:100%;
    font:14px/18px font();
    @include flx(display,flex);//for ie's footer bottom pos
    @include flx(flex-flow,'column nowrap');
  }

  #wrap{
    min-height:100%;
    position:relative;
    min-width:$miw;
    width:100%;
    @include flx(display,flex);
    @include flx(flex-flow,'column nowrap');
    @include flx(flex,'1 0 auto');
  }

  #main{
    @include flx(flex,'1 0 auto');
    width:100%;//sometimes is needed
  }

  //--------------------


}