$path:'../images/';

$w:1180px;

$colors:(
  ref:#cc0c39
);

@function getc($arg,$c:$colors){
  $l-i:str-index(inspect($arg),'.');

  @if($l-i==null)
  {@return map-get($c,$arg);}@else
  {@return getc(str-slice($arg,$l-i),map-get($c,str-slice($arg,1,$l-i - 2)));}
}

@function font(){
  @return 'Roboto',sans-serif;
}

@include exports("@path:base\_vars.scss"){/*@path:base\_vars.scss*/

}